.mapper__container {
  display: flex;
  flex-flow: column nowrap;
}

.mapper__actions {
  flex: 0 0 auto;
  padding: 0.5rem 1rem 1rem;
  text-align: right;
}

.mapper__groups {
  flex: 1 1 auto;

  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  padding: 1rem 1rem 0.5rem;
  gap: 1rem;
}

.mapper-group {
  padding: 0.5rem;
  border: 1px solid currentColor;
}

.mapper-group__heading {
  margin: 0 0 1rem;
  border-bottom: 1px solid currentColor;
}

.mapper-group__heading h3 {
  display: inline;
  font-size: 2em;
}

.mapper-group__heading button {
  /* Account for border, padding, and descenders */
  vertical-align: calc(3px + 0.2lh);
}

.mapper-group__inputs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.25rem;
}

.mapper-inputs {
  box-sizing: border-box;
  min-width: 9.5em;
  margin-bottom: 0.25rem;

  display: flex;
  flex-flow: column nowrap;

  border: 1px solid currentColor;
}

.mapper-inputs--changed .mapper-inputs__heading::after {
  content: '*';
  color: var(--color-changed);
}

.mapper-inputs__heading {
  margin: 0;

  padding: 0.25rem;

  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px solid currentColor;
}

.mapper-inputs__add {
  border-radius: 0;
}

.mapper-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 0.1rem;
  padding: 0.15rem;

  border-bottom: 1px solid currentColor;
  background:
    linear-gradient(var(--color-bg), var(--color-bg)) content-box,
    var(--color-bg);
}

.mapper-input--changed {
  background-color: var(--color-changed);
}

.mapper-input__line1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.25em;
  padding: 0.15rem 0.15rem 0;

  line-height: 1.4;
}

.mapper-input__line2 {
  padding: 0 0.15rem 0.15rem;
  contain: size;
  contain-intrinsic-height: 1lh;
}

.mapper-input__line2 > input {
  width: 100%;
}

.mapper-input__pill {
  display: inline-block;
  vertical-align: 0.2ex;

  line-height: 1;

  color: black;
  background-color: lightgray;
  border: 1px outset white;
  font-size: 0.833em;
  font-family: monospace;
  font-variant-numeric: tabular-nums;
}

.mapper-input__pill__index {
  display: inline-block;

  padding-inline: 0.1em;
  line-height: 1;

  color: white;
  background-color: #333;
  border: 1px inset black;
}

.mapper-input__modifiers {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
