.settings__trigger {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5rem;

  padding-bottom: 0.2em;

  font-size: 1.25rem;
  text-shadow: 1px 1px 0 black;
}

.settings__container {
  padding: 0.5rem 1rem;
}

.settings__heading {
  margin: 0 0 0.5rem;
}

.settings__section {
  margin-bottom: 0.5rem;
}

.settings__actions {
  text-align: right;
}
