:root, :root[data-theme="light"] {
  --color-fg: black;
  --color-bg: white;
  --color-button-bg-warning: pink;
}

/* set alternate colors for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #dedcd9;
    --color-bg: #222425;
  }
}
:root[data-theme="dark"] {
  --color-fg: #dedcd9;
  --color-bg: #222425;
}
