:root, :root[data-theme="light"] {
  --color-fg: black;
  --color-bg: white;
  --color-changed: darkgoldenrod;
  --color-button-bg-warning: darkred;
  --color-button-fg-warning: white;
  --color-button-bg-ok: #005cb5;
  --color-button-fg-ok: white;
  --size-icon: 2.5ex;
}

/* set alternate colors for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #dedcd9;
    --color-bg: #222425;
    --color-changed: yellow;
  }
}
:root[data-theme="dark"] {
  --color-fg: #dedcd9;
  --color-bg: #222425;
  --color-changed: yellow;
}
