:root {
  --size: 200px;
}

.device__frame {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;

  background: gray;
  border: 16px solid transparent;
  border-radius: 50%;
}

.device__joystick {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background: black;
  transform: translate(-50%, 50%);
}

.device__zoom {
  height: var(--size);

  writing-mode: vertical-lr;
  direction: rtl;
}
