:root {
  --size: 200px;
  --pan: 0;
  --tilt: 0;
  --roll: 0;
}

.control__frame {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;

  background: gray;
  border: 16px solid transparent;
  border-radius: 50%;
}

.control__joystick {
  --thumb-size: 32px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);

  border-radius: 50%;
  background: black;
  transform: translate(
    calc(-50% + 0.5 * var(--pan) * calc(var(--size) - var(--thumb-size))),
    calc(50% + -0.5 * var(--tilt) * calc(var(--size) - var(--thumb-size)))
  );
  transition: transform linear 0.0333s;
}

.control__zoom {
  height: var(--size);

  writing-mode: vertical-lr;
  direction: rtl;
}
